body {
    font-family: 'Courier New', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ffe7e7, #ffeddb);
}

.pin-container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 280px;
    max-width: 90%;
}

h1 {
    font-size: 24px;
    color: #ff99c8;
    margin-bottom: 20px;
}

.pin-inputs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.pin-inputs input {
    width: 35px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ffb3b3;
    border-radius: 10px;
    background-color: #fff0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.pin-inputs input:focus {
    border-color: #ffa3a3;
    background-color: #ffe0e0;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.key {
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #ffc1e3;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.key:hover {
    background-color: #ff99c8;
    transform: translateY(-3px);
}

.key:active {
    background-color: #ff85b3;
    transform: translateY(0);
}

.key.delete {
    grid-column: span 1;
    background-color: #fca5a5;
    font-size: 16px;
}

.key.delete:hover {
    background-color: #ffb3b3;
}

#submitPin {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    grid-column: span 3;
    background-color: #ff99c8;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#submitPin:hover {
    background-color: #ff85b3;
}

#submitPin:active {
    background-color: #ff709e;
}
